body {
    height: 100vh;
    width: 85%;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);

    text-align: center;
   
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: 'Permanent Marker', cursive;

    background:
    linear-gradient(
    to right,
    #9967ce,
    #9fb2d8) border-box;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
}

p {
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    word-spacing: 4px;
    letter-spacing: 1px;

    margin: 30px;
}

button {
    color: white;
    background-color: linear-gradient(178deg, #EFF4F8 0%, rgba(218, 232, 243, 0.00) 100%);
    background: linear-gradient(90deg,
    #9563C4 2.60%, #98A0F0 58.33%, rgba(159, 184, 237, 0.75) 100%);
    border: none;
    padding: 10px 50px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;

    font-weight: 600;
    font-size: 15px;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 2px;
}

button::after {
    content:"";
    position: absolute;
    inset: 6px;
    height: 50%;
    width: 60%;
    transform: translate(6px,20px);
    border-radius: 15px;
    background: linear-gradient(90deg,
     #9563C4 0%, #B497ED 52.60%, #9FB8ED 100%);
    filter: blur(15px);
    z-index: -1;

    font-family: 'Raleway', sans-serif;
}

.hidden {
    /* display: none; */
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

.show {
    opacity: 1;
    transition: all 1s;
    filter: blur(0);
}

.hide {
    display: none;
    transition: all 2s;
    filter: blur(5px);
}

/* .fifth {
    animation: blink-text 2s linear infinite;
}

@keyframes blink-text {
    0% {
     opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
     opacity: 0;
    }
} */