.background {
    color: rgb(0, 0, 0);

    background-color:hsla(86,0%,0%,1);
    background-image:
    radial-gradient(at 100% 0%, hsla(23,90%,79%,1) 0px, transparent 50%);
    background-repeat: no-repeat;
}

body {
    background-color: black;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.conan {
    font-size: 100px;
    font-family: 'Bungee', cursive;
    background: #FF0303;
    background: linear-gradient(to bottom, #FF0303 20%, #FF3C00 50%, #FFA500 74%, #FFEE00 56%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}



.decodeMe, .geranium {
    font-family: 'Bungee', cursive;
    background: #FF0303;
    background: linear-gradient(to bottom, #FF0303 20%, #FF3C00 50%, #FFA500 74%, #FFEE00 56%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
    animation: blink-text 2s linear infinite;
}

.replace{
    font-family: 'Alegreya Sans SC', sans-serif;
}


.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

.flash {
    opacity: 0;
    transition: all 0.5s;
    filter: blur(5px);
}

.show {
    opacity: 1;
    filter: blur(0);
}

.code {
    display: flex;
    gap: 5px;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
}

.dash {
    height: 20px;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
}

.puzzleArea, .morseCode, .puzzle {
    width: max-content;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    gap: 20px;

    margin-bottom: 40px;
}

.codeContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 30px 0;
}

.hintBtn {
    padding: 7px 50px;
    border: 4px solid transparent;
    background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)) padding-box,
    linear-gradient(
    to right,
    rgba(255,238,0,1),
    rgba(255,165,0,1),
    rgba(255,60,0,1),
    rgba(255,0,0,1)) border-box;

    color: rgba(255,60,0,1);
    font-family: 'Bungee', cursive; 
}

.check {
    border: 4px solid transparent;

    background: rgb(255,238,0);
    border: 4px solid transparent;
    background: linear-gradient(90deg,
    rgba(255,238,0,1) 0%, 
    rgba(255,165,0,1) 20%, 
    rgba(255,60,0,1) 75%, 
    rgba(255,0,0,1) 100%) border-box;
    color: white;
    /* font-family: 'Bungee', cursive; 
    color: white; */

    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 2px;
   
    border-radius: 15px;
    padding: 5px 0;

    width: 60%;
    align-self: center;
}

input {
    border: none;
    color: white;

    background-color: black;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

input:focus {
    outline: none;
}

.solved {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    color: green;
}

.wrong {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #FF0303;
}

.inputField {
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)) padding-box,
    linear-gradient(
    to right,
    rgba(255,238,0,1),
    rgba(255,165,0,1),
    rgba(255,60,0,1),
    rgba(255,0,0,1)) border-box;
}

.cautionPage {
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 20px;
}

.cautionPage h1 {
    font-size: 100px;
    font-family: 'Bungee', cursive;
    background: #FF0303;
    background: linear-gradient(to bottom, #FF0303 20%, #FF3C00 50%, #FFA500 74%, #FFEE00 56%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
    animation: blink-text 2s linear infinite;
    
}

@keyframes blink-text {
    0% {
     opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
     opacity: 0;
    }
}

.cautionPage button {
    align-self: center;
    
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 2px;

    padding: 7px 50px;

    border: 4px solid transparent;
    background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)) padding-box,
    linear-gradient(
    to right,
    rgba(255,238,0,1),
    rgba(255,165,0,1),
    rgba(255,60,0,1),
    rgba(255,0,0,1)) border-box;
    color: white;  

    margin-top: 30px;
}

.puzzle h2 {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

.puzzle2 .inputField {
    width: 50%;
    align-self: center;
}

.puzzle2 .check {
    width: 27%;
    align-self: center;
}

.exitBtn {
    align-self: center;
    
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 2px;

    padding: 7px 50px;

    border: 4px solid transparent;
    background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)) padding-box,
    linear-gradient(
    to right,
    rgba(255,238,0,1),
    rgba(255,165,0,1),
    rgba(255,60,0,1),
    rgba(255,0,0,1)) border-box;
    color: white;  

    margin-top: 30px;

    animation: blink-text 2s linear infinite;
}